@font-face 
{
    font-family: 'BlenderPro_Bold';
    src:url('../font/BlenderPro-Heavy.woff') format('woff'); /* ruta a tus archivos WOFF en la carpeta font */
}

@font-face 
{
    font-family: 'BlenderPro';
    src:url('../font/BlenderPro-Medium.woff') format('woff'); /* ruta a tus archivos WOFF en la carpeta font */
}

body 
{
    font-family: 'BlenderPro_Bold';
    font-family: 'BlenderPro';
}


/* NAVIGATION BAR */

.container-header{
    background-color: black;
}
.navbar-brand 
    .navbar {
      background-color: black; /* El color de fondo del navbar (bg-dark) */
    }
    .navbar-collapse {
      background-color: black; /* El color de fondo del contenido colapsable */
    }
    .navbar-nav .nav-link {
      color: white; /* Color del texto de los enlaces */
    }
    .navbar-nav .nav-link:hover {
        color: #bdbdbd; /* Color del texto de los enlaces */
    }
    .navbar-toggler {
      border-color: rgb(255, 255, 255); /* Color del borde del botón toggler */
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      /* Icono personalizado para el toggler */
    }
    .btn-outline-light {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .btn-outline-light:hover {
        color: black;
        background-color: #f8f9fa;
    }

#imglogonavigationbar
{
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 32px;
    padding-left: 32px;
    border-right: 1px solid rgb(23 23 23);
    width: 100%;
}

@media (max-width: 768px) {
    #imglogonavigationbar {
        padding-top: 7%;
        padding-bottom: 7%;
        width: 80%;
    }
}

.firstnavfile{
    font-family: BlenderPro;
    font-size: 12px;
    color: #737373;
    border-bottom: 1px solid rgb(23 23 23);
}

.secondnavfile{
    font-family: 'BlenderPro_Bold';
    font-size: 16px;
}


/* MEET OUR TEAMS */
.mot
{
    padding: 1.5%;
    border-left: 1px solid rgb(23 23 23);
    border-right: 1px solid rgb(23 23 23);
}

body h1 {
    font-family: 'BlenderPro_Bold';
    font-size: 30px;
    color: #ffffff;
}

.textoMOT
{
    font-family: 'BlenderPro';
    font-size: 14px;
    color: #737373;
}

/* EQUIPOS POR JUEGOS */

#col-teams
{
    border: 1px solid rgb(23 23 23);
}

.rectangulo {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 95%; /* Ancho del rectángulo */
    aspect-ratio: 1 / 1; /* Altura del rectángulo */
    background-color: #090909; /* Color de fondo del rectángulo */
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    position: relative; /* Necesario para posicionar los pseudo-elementos */
}

.rectangulo:hover {
    background-color: #1a1a1a; /* Color de fondo del rectángulo */
}

.rectangulo:before,
.rectangulo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.rectangulo:before {
    border-width: 0 2rem 2rem 0; /* Triángulo superior derecho */
    border-color: transparent #000000 transparent transparent;
    top: 0;
    right: 0;
}

.rectangulo:after {
    border-width: 2rem 0 0 2rem; /* Triángulo inferior izquierdo */
    border-color: transparent transparent transparent #000000;
    bottom: 0;
    left: 0;
}


.img-teams
{
    width: 35%;
}

/* FOOTER */
.footer{
    font-family: BlenderPro;
    font-size: 14px;
    color: #737373;
    border-left: 1px solid rgb(23 23 23);
    border-right: 1px solid rgb(23 23 23);
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 24px;
    padding-right: 24px;
}

.footercontent {
    list-style-type: none;
    padding-left: 0px;
}

.footertitulo{
    font-family: BlenderPro_Bold;
    color: #ffffff;
    padding-bottom: 16px;
}

.subtitulosfo{
    padding-bottom: 7px;
}



#logofooter{
    margin-bottom: 5%;
    
}

.colfooter{
    padding-top: 0px;
}