@font-face 
{
    font-family: 'BlenderPro_Bold';
    src:url('../font/BlenderPro-Heavy.woff') format('woff'); /* ruta a tus archivos WOFF en la carpeta font */
}

@font-face 
{
    font-family: 'BlenderPro';
    src:url('../font/BlenderPro-Medium.woff') format('woff'); /* ruta a tus archivos WOFF en la carpeta font */
}

body 
{
    font-family: 'BlenderPro_Bold';
    font-family: 'BlenderPro';
}


/* NAVIGATION BAR */

.container-header{
    background-color: black;
    border-bottom: 1px solid rgb(23 23 23);
    position: fixed;
    top: 0px;
    z-index: 1000;
}
.navbar-brand 
    .navbar {
      background-color: black; /* El color de fondo del navbar (bg-dark) */
    }
    .navbar-collapse {
      background-color: black; /* El color de fondo del contenido colapsable */
    }

    .firstnavfile .nav-item a.nav-link {
        color: rgb(105, 105, 105); 
        padding: 16px 12px 16px 12px;
    }

    .firstnavfile .nav-item a.nav-link:hover {
        color: rgb(148, 148, 148); 
    }

    .secondnavfile .nav-item a.nav-link {
        color: white; 
        padding: 18px 12px 18px 12px;
    }

    .secondnavfile .nav-item a.nav-link:hover {
        color: #9c9c9c; 
    }

    
    .navbar-toggler {
      border-color: rgb(255, 255, 255); /* Color del borde del botón toggler */
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      /* Icono personalizado para el toggler */
    }
    .btn-outline-light {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }
    .btn-outline-light:hover {
        color: black;
        background-color: #f8f9fa;
    }

#imglogonavigationbar
{
    padding: 15% 32px 15% 32px; /* arriba, derecha, abajo, izquierda */
    border-right: 1px solid rgb(23 23 23);
    width: 100%;
}

@media (max-width: 768px) {
    #imglogonavigationbar {
        padding-top: 7%;
        padding-bottom: 7%;
        width: 80%;
    }
}

.firstnavfile{
    font-family: BlenderPro;
    font-size: 12px;
    color: #737373;
    border-bottom: 1px solid rgb(23 23 23);
    border-right: 1px solid rgb(23 23 23);
}

.secondnavfile{
    font-family: 'BlenderPro_Bold';
    font-size: 16px;
    border-right: 1px solid rgb(23 23 23);
}



/* AQUÍ EMPIEZA EL SEGUNDO CONTAINER */

.secondcont {
    border-left: 1px solid rgb(23 23 23);
    border-right: 1px solid rgb(23 23 23);
    width: 97%; 
    margin-top: 5.9%;
}


@media (max-width: 576px) {
    .secondcont {
        width: 100%; 
        margin-top: calc(3.5rem + 10px);
    }
}


/* MEET OUR TEAMS */
.mot
{
    padding: 1.6%;
    border-bottom: 1px solid rgb(23 23 23);
}

body h1 {
    font-family: 'BlenderPro_Bold';
    font-size: 30px;
    color: #ffffff;
}

.textoMOT
{
    font-family: 'BlenderPro';
    font-size: 14px;
    color: #737373;
}

/* EQUIPOS POR JUEGOS */

#col-teams
{
    border-right: 1px solid rgb(23 23 23);
}


.rectangulo {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 95%; /* Ancho del rectángulo */
    aspect-ratio: 1 / 1; /* Altura del rectángulo */
    background-color: #090909; /* Color de fondo del rectángulo */
    display: flex; /* Activar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    position: relative; /* Necesario para posicionar los pseudo-elementos */
}

.rectangulo:hover {
    background-color: #1a1a1a; /* Color de fondo del rectángulo */
}

.rectangulo:before,
.rectangulo:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.rectangulo:before {
    border-width: 0 2rem 2rem 0; /* Triángulo superior derecho */
    border-color: transparent #000000 transparent transparent;
    top: 0;
    right: 0;
}

.rectangulo:after {
    border-width: 2rem 0 0 2rem; /* Triángulo inferior izquierdo */
    border-color: transparent transparent transparent #000000;
    bottom: 0;
    left: 0;
}


.img-teams
{
    width: 35%;
}

/* FOOTER */
.footer{
    font-family: BlenderPro;
    font-size: 14px;
    border-top: 1px solid rgb(23 23 23);
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 24px;
    padding-right: 24px;
}

.footercontent {
    list-style-type: none;
    padding-left: 0px;
}

.footertitulo{
    font-family: BlenderPro_Bold;
    color: #ffffff;
    padding-bottom: 16px;
}

.subtitulosfo{
    padding-bottom: 7px;
    color: #737373;
}

.subtitulosfo:hover{
    color: #ffffff;
}

#logofooter{
    margin-bottom: 5%;  
}





/* CUERPO DE TERCERA PÁGINA CHAMPIONS */

#miVideo::-webkit-media-controls,
#miVideo::-webkit-media-controls-enclosure {
    display: none !important;
}

#miVideo::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Ajusta el ancho para evitar la aparición de barras de desplazamiento */
}



.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido {
    position: absolute;
    bottom: 13%; /* Margen desde abajo */
    left: 5%; /* Margen desde la izquierda */
    color: white;
    font-family: 'BlenderPro_Bold';
    z-index: 1;
}

body h2 {
    font-size: 60px; /* Tamaño de fuente relativo al ancho de la ventana */
}

.logovideo{
    width: 50%;
}


.seccionchamp{
    padding: 16px;
    border-bottom: 1px solid rgb(23 23 23);
}

.secroja{
    border-bottom: 1px solid #E5062F;
}

.imgsec{
    height: 108px;
}

.contenidosec {
    display: flex;
}

.textoc {
    padding-top: 25px ;
    padding-left: 15px; /* Espacio entre la imagen y el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: BlenderPro;
    color: #737373;
}

.titulo-seccion {
    font-family: 'BlenderPro_Bold';
    font-size: 1em; /* Ajusta el tamaño del título según sea necesario */
    margin-bottom: 5px; /* Espacio entre el título y el párrafo */
    color: white;
}

p{
    font-size: 12px;
}

body h3{
    font-family: 'BlenderPro_Bold';
    font-size: 24px;
    color: white;
}



.cuadrado-gris {
    width: 56px;
    height: 56px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrado-rojo {
    width: 32px;
    height: 32px;
    background-color: #E5062F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-centrada {
    width: 24px; /* 32px - 2 * 4px de padding = 24px */
    height: 24px; /* 32px - 2 * 4px de padding = 24px */
    padding: 4px;
}


.logros{
    padding-top: 20px;
}


.textologros{
    padding-left: 15px; /* Espacio entre la imagen y el texto */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: BlenderPro;
    color: #737373;
}

.titulogro{
    padding-bottom: 30px;
    font-family: 'BlenderPro_Bold';
    font-size: 1em; /* Ajusta el tamaño del título según sea necesario */
    color: white;
}